body { 
    background-color: #E31836;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h3  {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.countdown {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 8rem;
    font-weight: bold;
    color: #ffffff; /* Making numbers white for better visibility */
    display: inline-block;
    padding: 10px;
}